<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>News</title>
    <!-- Bootstrap -->
    <link rel="stylesheet" href="css/bootstrap.min.css" />
    <!-- Font Awesome Icon -->
    <link rel="stylesheet" href="css/font-awesome.css">
    <!-- Custom stlylesheet -->
    <link rel="stylesheet" href="css/style.css">
</head>

<body>
    <!-- HEADER -->
    <div id="header">
        <!-- container -->
        <div class="container">
            <div class="row justify-content-center">
                <!-- LOGO -->
                <div class="col-md-3">
                    <a href="/" id="logo"><img src="images/news.jpg" alt="Logo" /></a>
                </div>
                <!-- /LOGO -->
            </div>
        </div>
    </div>
    <!-- /HEADER -->
    <!-- Menu Bar -->
    <div id="menu-bar">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <ul class='menu'>
                        <li><a href='/'>Home</a></li>
                        <li><a href='/business'>Business</a></li>
                        <li><a href='/author'>Entertainment</a></li>
                        <li><a href='/sports'>Sports</a></li>
                        <li><a href='/politics'>Politics</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!-- /Menu Bar -->

    <div id="main-content">
        <div class="container">
            <div class="row">
                <div class="col-md-8">
                    <!-- post-container -->
                    <div class="post-container">
                        <h2 class="page-heading">
                            <%= title %>
                        </h2>
                        <% articles.forEach(article=> { %>
                            <div class="post-content">
                                <div class="row">
                                    <div class="col-md-4">
                                        <a class="post-img" href="/article/<%= article._id %>">
                                            <img src="<%= article.image || 'images/default.jpg' %>"
                                                alt="<%= article.title %>" />
                                        </a>
                                    </div>
                                    <div class="col-md-8">
                                        <div class="inner-content clearfix">
                                            <h3>

                                                <%= article.title %>

                                            </h3>

                                            <div class="post-information">
                                                <span>
                                                    <i class="fa fa-tags" aria-hidden="true"></i>
                                                    <a href="/category/<%= article.category %>">
                                                        <%= article.category %>
                                                    </a>
                                                </span>
                                                <span>
                                                    <i class="fa fa-user" aria-hidden="true"></i>
                                                    <a href="/author/<%= article.author %>">
                                                        <%= article.author %>
                                                    </a>
                                                </span>
                                                <span>
                                                    <i class="fa fa-calendar" aria-hidden="true"></i>
                                                    <%= article.Date.toDateString() %>
                                                </span>
                                            </div>

                                            <p class="description">
                                                <%- article.content.substring(0, 150) %>...
                                            </p>

                                            <a class="read-more pull-right" href="<%= article._id %>">read
                                                more</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <% }) %>
                                <!-- pagination (optional) -->
                                <nav aria-label="Page navigation">
                                    <ul class="pagination justify-content-center">

                                        <!-- Previous Button -->
                                        <li class="page-item <%= currentPage === 1 ? 'disabled' : '' %>">
                                            <a class="page-link" href="?page=<%= currentPage - 1 %>">Previous</a>
                                        </li>

                                        <!-- Page Numbers -->
                                        <% for (let i=1; i <=totalPages; i++) { %>
                                            <li class="page-item <%= currentPage === i ? 'active' : '' %>">
                                                <a class="page-link" href="?page=<%= i %>">
                                                    <%= i %>
                                                </a>
                                            </li>
                                            <% } %>

                                                <!-- Next Button -->
                                                <li
                                                    class="page-item <%= currentPage === totalPages ? 'disabled' : '' %>">
                                                    <a class="page-link" href="?page=<%= currentPage + 1 %>">Next</a>
                                                </li>

                                    </ul>
                                </nav>

                    </div>
                    <!-- /post-container -->
                </div>
                <!-- sidebar -->
                <div id="sidebar" class="col-md-4">
                    <!-- search box -->
                    <div class="search-box-container">
                        <h4>Search</h4>
                        <form class="search-post" action="/search" method="GET">
                            <div class="input-group">
                                <input type="text" name="search" class="form-control" placeholder="Search .....">
                                <span class="input-group-btn">
                                    <button type="submit" class="btn btn-danger">Search</button>
                                </span>
                            </div>
                        </form>
                    </div>
                    <!-- /search box -->
                    <!-- recent posts box -->
                   <%- include("recent-post") %>
                    <!-- /recent posts box -->
                </div>
                <!-- /sidebar -->
            </div>
        </div>
    </div>
    <div id="footer">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <span>© Copyright 2025 News | Powered by Saurav Kumar</span>
                </div>
            </div>
        </div>
    </div>
</body>

</html>